@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("..fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("..fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("..fonts/rubik/rubik-700.woff2") format("woff2");  
    font-display: swap;
}

html {
    box-sizing: border-box;
}
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

body {
    display: flex;
    flex-direction: column;      
    font-family: "Rubik", "Tahoma" sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #fbf7f4;

    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

.button {
    font-family: "Raleway", "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: #000000;
    background: inherit;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    border: none;
    background: none;
    
}


.button-yellow {  
    background: #FFE17F;
    text-align: center;
}

.button-current {
    color: #FFE17F;;   
    background-color: #000000;
    text-align: center;
}

.subscribe-submit {
    font-family: "Raleway", "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: #000000;
    text-align: center;
    background-color: #f0f0f0;
    text-decoration: none;
    display: inline-block;

} 


/* header */

.navigation {
    
    width: 1160px;
    margin: 0 auto;
    
}

.nav-up {
    width: 1040px;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}

.navigation-logo {
    display: block;
}

.page-header-index {
    background: linear-gradient(180deg, rgb(255, 255, 255) 5%, rgb(255, 225, 127) 5%, rgb(255, 225, 127) 40%, rgb(255, 255, 255) 40%);
}

.page-header-catalog {
   background: #FFE17F;
}

.navigation-search {
    width: 517px;
}

.navigation-search-input {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #444444;
    background: inherit;
    
}



.navigation-search-submit {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #444444;
    background: inherit;
    

}
.navigation-user {
    display: flex;
    width: 500px;
}

.navigation-link {
    font-family: "Rubik", "Tahoma", sans-serif;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    display: block;
   
    

}

.nav-down {
    width: 1040;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}

.header-catalog-button {
    width: 293px;
}

.navigation-list {
    display: grid;
    width: 471px;
    margin-left: auto;
}

}

.submenu-link {
    font-family: "Rubik", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    display: block;
}

.slider-number {
    font-family: "Rubik Narrow", "Tahoma", sans-serif;
    font-size: 180px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    text-align: right;
    background-color: #FFE17F;

}










.slider-content {
    position: relative;
    display: flex;
}

.slider-item::before {
    position: absolute;
}

.slider-item {
    position: relative;
}

.device-upper-case {
    font-family: "Raleway", "Tahoma", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    color: #000000;
}

.slider-photo {
    display: block;
}



.table-upper-case {
    font-family: "Rubik", "Tahoma", sans-serif;
    font-size: 36px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
}

.table-lower-case {   
    font-size: 16px;
}

/* Main-index */

.page-container {
    margin: 0 auto;
    width: 1160px;
}

.product-list {
    display: grid;
}

.product-item {
    width: 160px;
}

.product-link {
    text-decoration: none;
    display: inline-block;
}

.product-img-index {
    background-color: #FFE17F;
}

.product-name {
    font-family: "Raleway", "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
    
}

.product-image {
    display: block;
}

.services {
    background: linear-gradient(0deg, rgb(240, 240, 240) 74%, rgb(255, 255, 255) 50%);
    display: flex;
}

.services-button {
    width: 280px;

}

.services-description {
    width: 694px;
    padding: 72.5px 63px 72.5px 116px;
}

.services-description-item-delivery {
    background-image: url(../images/index/mailman.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.services-description-item-warranty {
    background-image: url(../images/index/warranty.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.services-description-item-credit {
    background-image: url(../images/index/credit.svg);
    background-repeat: no-repeat;
    background-position: right;
}


.delivery-link {
    font-family: "Raleway", "Tahoma", sans-serif;
    font-size: 20px;
    line-height: 23px;
    font-weight: 800;
    color: #000000;
    background-color: #f0f0f0;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-between;

}

.delivery-text {
    flex-grow:1;
}

.delivery-track {
    background-color:#FFE17F;

}

.delivery-info { 
    background: rgba(220, 220, 220, 0.5);
}

.about-contacts {
    display: grid;
}

.about{
    width: 520px;
    margin-right: 102px;
}

.contacts {
    width: 532px;
}

.about-item {
    font-family: "Rubik Narrow", "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000

}

.contacts-subtitle {
    font-family: "Rubik Narrow", "Tahoma", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #444444

}
.contacts-address {
    text-decoration: none;
    font-style: normal;
   
}
.contacts-phone{
    color: #444444;
}

.subcribe {
    background-color: #f0f0f0; 
}

.subscribe-text {
    display: grid;
}

.subscribe-low {
    display: flex;
}

.subscribe-form {
    width: 810px;
}

.free {
    width: 160px;
    margin-left: auto;
}

.subscribe-mail {
    font-family: "Rubik", "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

/* Catalog */

.breadcrumbs {
    display: flex;
    width: 429px;
}

.breadcrumbs-link {
    display: inline-block;
    margin-right: 36px;
}

.main-inner {
    background-color: white;
    color: #000000;
}

.inner-lower-case {
    font-style: "Rubik", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: inherit;
    text-decoration: none;

}


.catalog-products {
    display: flex;
}

.catalog-filter {
    width: 320px;
}

.catalog-menu-wrapper {
    width: 840px;
}



.catalog-title {
    font-family: "Raleway", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 800;
    color: inherit;
    text-transform: uppercase;
    

}

.product-link-catalog {
    display: block;
}

.catalog-filter-title {
    font-family: "Rubik Narrow", "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
}

.catalog-products {
    background-color: #f0f0f0;
}

.product-menu {
    background-color: white;

}

.product-img {
    display: block;
    background-color: #f0f0f0;
}
.product-price {
    font-family: "Rubik", "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #444444;
    text-align: right;

}

.product-more {
    text-align: center;
    background-color: white;
}

.pagination {
    background-color: #EBEBEB;
}

.pagination-link {
    font-family: "Rubik", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #444444;
    text-align: center;
    background-color: #EBEBEB;
    text-decoration: none;
    display: inline-block;

}

/* Footer */

.page-footer {
    background-color: #444444;
}

.page-footer-container {
    width: 1160px;
    margin: 0 auto;
    display: flex;

}

.footer-address {
    width: 239px;
    margin-right: 112px;
}

.footer-menu-social {
    width: 444px;
}

.footer-navigation-list {
    display: grid;
}

.footer-social-list {
    display: flex;
}

.footer-phone-site {
    width: 175px;
    margin: 0 auto;
}

.footer-contacts-address-text {
    font-family: "Rubik", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    font-style: normal;

}

.footer-navigation-white {
    color: #ffffff;
    background-color: inherit;
   
}

.button-social {
    background-color: #ffffff;
    display: flex;
}